{{> footer}}

<footer>
    <nav>
        <ul>
            <a href="index.mustache" class="logo">gaga</a>
            <li><a href="index.html">Home</a></li>
            <li><a href="kalender.html">Reflexion</a></li>
            <li><a href="login.html" class="login-btn">Login</a></li>
        </ul>
    </nav>
</footer>