<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <nav>
        <a href="index.html" class="logo">Logo</a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="kalender.html">Reflexion</a></li>
            <li><a href="konto.html">Konto</a></li>
            <li><a href="login.html" class="login-btn">Login</a></li>
        </ul>
    </nav>
</header>
<main role="main" class="container">