{{> header}}

<main>
    <section id="login">
        <div class="img"><img src="/assets/Login.png" alt="" /></div>
        <div class="text">
            <h1>Ready to start tracking?</h1>
            <form>
                <label
                >Benutzername: <input type="text" placeholder="Benutzername"
                /></label>
                <label
                >Passwort: <input type="password" placeholder="Passwort"
                /></label>
                <button type="submit">Login</button>
                <p>Noch kein Konto? <a href="register.html">Registrieren</a></p>
            </form>
        </div>
    </section>
</main>

{{> footer}}